/* =========================================================================== */

/* Tablet Landscape
	/* - Container
/* Tablet Portait
	/* - Responsive Header
	/* - Logo
	/* - Main Menu
	/* - Feature Section Content
	/* - Feature Section Graphic
	/* - Small Blog
	/* - Background Image
/* Mobile Landscape
	/* - Hide Br Tag
	/* - Large Blog
	/* - Comment Form
	/* - Call Out
/* Mobile Portait

/* =========================================================================== */




/* Tablet Landscape
============================================================================= */

@media only screen and (max-width: 1200px) {

	/* - Container
	========================================================================= */
    #grve-body.grve-boxed #grve-theme-wrapper {
        width: 90%;
    }

    #grve-body.grve-boxed .grve-anchor-menu .grve-anchor-wrapper.grve-sticky {
        width: 90%;
    }
	#grve-body.grve-boxed #grve-content.grve-right-sidebar .grve-content-wrapper,
	#grve-body.grve-boxed #grve-content.grve-left-sidebar .grve-content-wrapper {
		max-width: 90%;
	}
    body.grve-boxed #grve-theme-wrapper {
        margin-top: 0;
        margin-bottom: 0;
    }

}


/* Tablet Portait
============================================================================= */

@media only screen and (max-width: 1023px) {

	/* - Container
	========================================================================= */
	#grve-body.grve-boxed #grve-content.grve-right-sidebar .grve-content-wrapper,
	#grve-body.grve-boxed #grve-content.grve-left-sidebar .grve-content-wrapper {
		max-width: 100%;
	}

	/* - Feature Section Content
	========================================================================= */
	#grve-feature-section .grve-content {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	/* - Feature Section Graphic
	========================================================================= */
	.grve-content.grve-align-left-center .grve-graphic,
	.grve-content.grve-align-center-center .grve-graphic,
	.grve-content.grve-align-right-center .grve-graphic {
		position: relative;
	}

	/* - Small Blog
	========================================================================= */
	.grve-blog-small .grve-blog-item {
		margin-bottom: 90px;
	}

	.grve-blog-small .grve-post-content,
	.grve-blog-small .grve-media + .grve-post-content {
		padding-left: 0;
		overflow: visible;
	}

	.grve-blog-small .grve-media {
		margin-bottom: 30px;
		width: 100%;
		padding-right: 0;
	}

	/* - Background Image
	========================================================================= */
	.grve-bg-image.grve-bg-tablet-sm-left-top {
		background-position: left top;
	}

	.grve-bg-image.grve-bg-tablet-sm-left-center {
		background-position: left center;
	}

	.grve-bg-image.grve-bg-tablet-sm-left-bottom {
		background-position: left bottom;
	}

	.grve-bg-image.grve-bg-tablet-sm-center-top {
		background-position: center top;
	}

	.grve-bg-image.grve-bg-tablet-sm-center-center {
		background-position: center center;
	}

	.grve-bg-image.grve-bg-tablet-sm-center-bottom {
		background-position: center bottom;
	}

	.grve-bg-image.grve-bg-tablet-sm-right-top {
		background-position: right top;
	}

	.grve-bg-image.grve-bg-tablet-sm-right-center {
		background-position: right center;
	}

	.grve-bg-image.grve-bg-tablet-sm-right-bottom {
		background-position: right bottom;
	}

}


/* Mobile Landscape
============================================================================= */

@media only screen and (max-width: 767px) {

	/* - Hide Br Tag
	========================================================================= */
	br.hidden {
		display: none;
	}

	/* - Large Blog
	========================================================================= */
	.grve-blog-large .grve-blog-item {
		margin-bottom: 90px;
	}

	.grve-blog-large .grve-post-content {
		padding-left: 0;
	}

	.grve-blog-large .grve-media {
		margin-bottom: 30px;
	}

	.grve-blog-large ul.grve-post-meta {
		position: static;
		top: 0;
		left: 0;
		width: auto;
		font-size: 0.813em;
	}

	.grve-blog-large ul.grve-post-meta:after {
		display: none;
	}

	.grve-blog-large ul.grve-post-meta li {
		display: inline-block;
		margin-right: 10px;
	}

	/* - Comment Form
	========================================================================= */
	#grve-comment-form .grve-form-input {
		width: 100%;
		float: none;
		margin-right: 0;
	}

	/* - Call Out
	========================================================================= */
	.grve-callout.grve-btn-right {
		display: block;
	}
	.grve-callout.grve-btn-right .grve-callout-wrapper {
		position: relative;
		display: block;
		vertical-align: top;
		padding-right: 0;
	}

	.grve-callout.grve-btn-right .grve-button-wrapper {
		display: block;
		vertical-align: top;
		max-width: 100%;
		text-align: left;
		margin-top: 30px;
	}

}


/* Mobile Portait
============================================================================= */

@media only screen and (max-width: 479px) {

}

