body {
	direction: rtl;
	unicode-bidi: embed;
}

/* =============================================================================
- Top Bar
============================================================================= */

#grve-top-bar ul.grve-left-side li.grve-topbar-item {
	margin-right: 0;
	margin-left: 15px;
}

#grve-top-bar ul.grve-left-side li.grve-topbar-item ul li {
	margin-right: 0;
	margin-left: 15px;
}

#grve-top-bar ul.grve-right-side li.grve-topbar-item {
	margin-left: 0;
	margin-right: 15px;
}

#grve-top-bar ul.grve-right-side li.grve-topbar-item ul li {
	margin-left: 0;
	margin-right: 15px;
}

/* =============================================================================
- Header
============================================================================= */
.grve-logo.grve-position-left,
.grve-header-elements.grve-position-left {
	float: right
}

.grve-header-elements-wrapper.grve-position-right,
.grve-horizontal-menu.grve-position-right {
	float: left
}

.grve-header-elements {
	border-left: none;
	margin-left: 0;
	border-right-style: solid;
	border-right-width: 1px;
	margin-right: 1.563rem;
}

.grve-header-element > a {
    padding-left: 0;
    padding-right: 1.563rem;
}

.grve-header-element {
	position: relative;
}

.grve-header-element .grve-purchased-items {
	position: absolute;
	top: 50%;
	left: -8px;
	margin-top: -20px;
}

#grve-header .grve-horizontal-menu.grve-position-right ul.grve-menu > li > a {
	padding: 0px 2em 0px 0px;
}

/* =============================================================================
- Movedo Sticky
============================================================================= */
#grve-movedo-sticky-header .grve-logo {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}

#grve-movedo-sticky-header .grve-header-element > a.grve-safe-button {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}

/* =============================================================================
- Safe Button
============================================================================= */
#grve-safebutton-area .grve-logo {
	left: auto;
	right: 0;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}

#grve-safebutton-area .grve-close-button-wrapper {
	right: auto;
	left: 0;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}

/* Logo Animation */
@-webkit-keyframes logo_animation {
	0% { -webkit-transform: translateX(100%); }
	100% { -webkit-transform: translateX(0); }
}

@-moz-keyframes logo_animation {
	0% { -moz-transform: translateX(100%); }
	100% { -moz-transform: translateX(0); }
}

@-o-keyframes logo_animation {
	0% { -o-transform: translateX(100%); }
	100% { -o-transform: translateX(0); }
}

@keyframes logo_animation {
	0% { transform: translateX(100%); }
	100% { transform: translateX(0); }
}

/* Close Button Animation */
@-webkit-keyframes close_button_animation {
	0% { -webkit-transform: translateX(-100%); }
	100% { -webkit-transform: translateX(0); }
}

@-moz-keyframes close_button_animation {
	0% { -moz-transform: translateX(-100%); }
	100% { -moz-transform: translateX(0); }
}

@-o-keyframes close_button_animation {
	0% { -o-transform: translateX(-100%); }
	100% { -o-transform: translateX(0); }
}

@keyframes close_button_animation {
	0% { transform: translateX(-100%); }
	100% { transform: translateX(0); }
}

/* =============================================================================
- Breadcrumbs
============================================================================= */
.grve-breadcrumbs:not(.grve-align-center) ul {
	text-align: right;
}

/* =============================================================================
- Main Menu
============================================================================= */
#grve-header .grve-horizontal-menu ul.grve-menu > li {
	float: right;
}

#grve-header .grve-horizontal-menu ul.grve-menu li {
	direction: ltr;
}

#grve-header .grve-horizontal-menu ul.grve-menu a {
	direction: rtl;
}

#grve-header .grve-horizontal-menu ul.grve-menu ul {
	left: auto;
	right: 0;
}

#grve-header .grve-horizontal-menu ul.grve-menu li:not(.megamenu) ul ul {
	left: auto;
	right: 100%;
	margin-left: 0;
	margin-right: 2px;
}

/* Menu Description */
#grve-main-menu .sub-menu .grve-menu-description {
	text-align: right;
	padding-right: 0;
	padding-left: 30px;
}

/* Side Menu */
#grve-main-header.grve-header-side .grve-main-header-wrapper {
	padding-right: 0;
	padding-left: 30px;
}
.grve-slide-menu ul.grve-menu .grve-arrow {
    left: 0;
	right: auto;
}

.grve-slide-menu ul.grve-menu .grve-arrow:after {
	content: '\f104';
}

.grve-slide-menu ul.grve-menu .grve-goback .grve-arrow:after {
	content: '\f105';
}
.grve-slide-menu ul.grve-menu ul {
	left: 0;
	right: 100%;
}

#grve-hidden-menu:not(.grve-align-center) ul li {
	text-align: right;
}

/* Sub Menu */
#grve-header .grve-horizontal-menu ul.grve-menu ul.sub-menu {
	text-align: right;
}

/* Header Elements */
.grve-header-element {
	direction: ltr;
}

/* Menu Label */
#grve-header .grve-main-menu .grve-item .label,
#grve-hidden-menu .grve-item .label {
	margin-left: 0;
	margin-right: 8px;
}

/* Arrow */
#grve-header .grve-horizontal-menu.grve-arrow ul.grve-menu .menu-item-has-children > a::after {
	display: none;
}
#grve-header .grve-horizontal-menu.grve-arrow ul.grve-menu .menu-item-has-children.grve-first-level > a::before {
	content: '\f107';
	font-family: "FontAwesome";
	height: 10px;
	line-height: 10px;
	margin-right: 2px;
	position: relative;
	top: 2px;
	width: 10px;
}

/* Toggle Arrows */
.grve-toggle-menu:not(.grve-align-center) ul.grve-menu li.menu-item-has-children a {
	padding-left: 40px;
	padding-right: 0;
}

.grve-toggle-menu ul.grve-menu li a .grve-arrow {
	right: auto;
	left: 0;
}

/* Menu Icon */
#grve-top-bar  .grve-menu-icon,
#grve-footer  .grve-menu-icon,
.grve-anchor-menu   .grve-menu-icon,
#grve-header .grve-main-menu .grve-menu-icon,
#grve-hidden-menu .grve-menu-icon {
	margin-right: 0;
	margin-left: 5px;
}

/* =============================================================================
- Side Header
============================================================================= */
#grve-main-header.grve-header-side {
	right: 0;
}

#grve-main-header.grve-header-side .grve-main-header-wrapper {
	padding-right: 0;
}

/* Boxed */
body.grve-boxed #grve-theme-wrapper.grve-header-side #grve-main-header.grve-header-side {
	right: auto;
}

/* =============================================================================
- Background Image
============================================================================= */
.grve-background-wrapper {
	direction: ltr;
}

/* =============================================================================
--- Blog Meta
============================================================================= */
.grve-post-meta li {
	float: right;
}

/* =============================================================================
--- Blog Small Media
============================================================================= */
.grve-blog-small .grve-blog-item {
	direction: ltr;
}

.grve-blog-small .grve-blog-item .grve-post-content {
	direction: rtl;
}

/* =============================================================================
- Sidebar
============================================================================= */
#grve-content.grve-right-sidebar #grve-main-content {
	float: right;
	padding-right: 0;
	padding-left: 30px;
}

#grve-content.grve-right-sidebar #grve-sidebar {
	padding-left: 0;
	padding-right: 20px;
	float: left;
}

/* =============================================================================
- Owl Carousel
============================================================================= */
#grve-feature-slider,
.owl-carousel {
	direction: ltr;
}

#grve-feature-slider .grve-content {
	direction: rtl;
}

.grve-carousel-item-wrapper {
	float: right;
}


/* =============================================================================
- Navigation Bar
============================================================================= */
.grve-navigation-bar {
	direction: ltr;
}

.grve-navigation-bar .grve-nav-item .grve-title,
.grve-navigation-bar .grve-related-content .grve-title {
	direction: rtl;
}


/* =============================================================================
- Feature & Page Title
============================================================================= */
#grve-feature-section .grve-title-content-wrapper.grve-align-left,
.grve-page-title .grve-title-content-wrapper.grve-align-left {
	text-align: right;
}

#grve-feature-section .grve-title-content-wrapper.grve-align-right,
.grve-page-title .grve-title-content-wrapper.grve-align-right {
	text-align: left;
}

.grve-content.grve-align-left-center,
.grve-content.grve-align-left-top,
.grve-content.grve-align-left-bottom {
	text-align: right;
}

.grve-content.grve-align-right-center,
.grve-content.grve-align-right-top,
.grve-content.grve-align-right-bottom {
	text-align: left;
}


/* =============================================================================
- Single Post Tags
============================================================================= */
.grve-single-post-tags ul li {
	margin-right: 0;
	margin-left: 14px;
}

/* =============================================================================
- Dropcap
============================================================================= */
p.grve-dropcap:first-letter {
	float: none;
}

/* =============================================================================
- Tabs
============================================================================= */
.grve-tab-icon.grve-position-left {
	margin-left: 10px;
	margin-right: 0;
	float: right;
}
.grve-tab-icon.grve-position-right {
	margin-left: 0;
	margin-right: 10px;
	float: left;
}

.grve-accordion-icon.grve-position-left  {
	margin-left: 10px;
	margin-right: 0;
	float: right;
}
.grve-accordion-icon.grve-position-right {
	margin-right: 10px;
	margin-left: 0;
	float: left;
}

/* =============================================================================
- Woocommerce
============================================================================= */
.woocommerce div.product form.cart div.quantity {
	float: right;
	margin: 0 0 0 15px;
}
.woocommerce div.product form.cart .button {
	float: right;
}
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
	margin-left: 20px;
}

.grve-var-label {
	float: right;
	margin-left: 10px;
	margin-right: 0;
	line-height: 66px;
}

.woocommerce .grve-single-post-meta.grve-tags ul li {
	margin-right: 0px;
	margin-left: 14px;
}

.woocommerce .quantity .grve-qty-btn.minus {
    border-right: 1px solid;
    border-left: none;
}

.woocommerce .quantity .grve-qty-btn.plus {
    border-left: 1px solid;
    border-right: none;
}

/* =============================================================================
- Select Drop Down
============================================================================= */
#grve-theme-wrapper select  {
	background-position: center left;
}

/* =============================================================================
- Search
============================================================================= */
#grve-theme-wrapper .grve-search input[type='text'] {
	padding-right: 10px;
	padding-left: 50px;
}

#grve-theme-wrapper .grve-search button[type='submit'] {
	right: auto;
	left: 6px;
}

/* =============================================================================
- Footer
============================================================================= */
#grve-footer .grve-widget-area .grve-column {
	float: right;
}

#grve-footer .grve-footer-bar .grve-left-side {
	float: right;
	text-align: right;
}

#grve-footer .grve-footer-bar .grve-right-side {
	float: left;
	text-align: left;
}

/* =============================================================================
- Widget Contact Info (GRVE WIDGET)
============================================================================= */
.grve-widget.grve-contact-info li i {
	margin-right: 0;
	margin-left: 20px;
	float: right;
}

/* =============================================================================
- Widget Archive
============================================================================= */
.widget.widget_archive li {
	text-align: left;
}

.widget.widget_archive li a {
	float: right;
}

/* =============================================================================
- Widget Categories
============================================================================= */
.widget.widget_categories li {
	text-align: left;
}

.widget.widget_categories li ul {
	padding-left: 0;
	padding-right: 10px;
}

.widget.widget_categories li a {
	float: right;
}

/* =============================================================================
- Widget Pages
============================================================================= */
.widget.widget_pages li ul {
	padding-left: 0;
	padding-right: 10px;
}

/* =============================================================================
- Widget Calendar
============================================================================= */
.widget.widget_calendar caption {
	text-align: right;
}

/* =============================================================================
- Widget Tagcloud
============================================================================= */
.widget.widget_tag_cloud a {
	margin-left: 4px;
	margin-right: 0;
}

/* =============================================================================
- Woo Tag Cloud
============================================================================= */
.grve-widget.woocommerce.widget_product_tag_cloud a {
	margin-left: 4px;
	margin-right: 0;
}

/* =============================================================================
- Woo Categories Widget
============================================================================= */

.widget.woocommerce.widget_product_categories li {
	text-align: left;
}

.widget.woocommerce.widget_product_categories ul li a {
	float: right;
}
/* =============================================================================
- Widget Custom Menu
============================================================================= */
.widget.widget_nav_menu li ul {
	padding-left: 0;
	padding-right: 10px;
}

/* =============================================================================
- Widget Latest Comments (GRVE WIDGET)
============================================================================= */
.grve-widget.grve-comments li img {
	float: right;
}

.grve-widget.grve-comments li img + .grve-comment-content {
	padding-left: 0;
	padding-right: 20px;
}

/* =============================================================================
- Widget Latest News (GRVE WIDGET)
============================================================================= */
.grve-widget.grve-latest-news li a.grve-post-thumb + .grve-news-content {
	padding-left: 0;
	padding-right: 20px;
}

/* =============================================================================
- Pagination
============================================================================= */
.grve-pagination .grve-icon-nav-right-small:before {
	content: "\e91a";
}

.grve-pagination .grve-icon-nav-left-small:before {
	content: "\e91b";
}

/* =============================================================================
- Magnific Popup Galleries
============================================================================= */
.mfp-arrow-right:before {
	content: '\e901';
}

.mfp-arrow-left:before {
	content: '\e903';
}

.mfp-arrow-left {
	left: auto;
	right: 20px;
}

.mfp-arrow-right {
	left: 20px;
	right: auto;
}

.mfp-counter,
.grve-mfp-social {
	right: auto;
	left: 0;
}

.mfp-title {
	text-align: right;
	padding-left: 36px;
	padding-right: 0;
}

/* =============================================================================
- Contact Forms
============================================================================= */
.wpcf7-form {
	direction: rtl;
}
/* Form with icons */
.wpcf7-form .grve-with-icon i {
	position: absolute;
	top: 14px;
	left: auto;
	right: 16px;
	width: 40px;
	text-align: center;
}

#grve-theme-wrapper .wpcf7-form .grve-with-icon input {
	padding-left: 0;
	padding-right: 40px;
}

/* Radio Buttons */

.wpcf7-form input[type='radio']:checked + .wpcf7-list-item-label,
.wpcf7-form input[type='radio']:not(:checked) + .wpcf7-list-item-label,
.wpcf7-form input[type='checkbox']:checked + .wpcf7-list-item-label,
.wpcf7-form input[type='checkbox']:not(:checked) + .wpcf7-list-item-label {
	padding-left: 0;
	padding-right: 28px;
}

.wpcf7-form input[type='radio']:checked + .wpcf7-list-item-label:before,
.wpcf7-form input[type='radio']:not(:checked) + .wpcf7-list-item-label:before {
	left: auto;
	right: 0;
}

.wpcf7-form input[type='radio']:checked + .wpcf7-list-item-label:after,
.wpcf7-form input[type='radio']:not(:checked) + .wpcf7-list-item-label:after {
	left: auto;
	right: 4px;
}

.wpcf7-form input[type='checkbox']:checked + .wpcf7-list-item-label:before,
.wpcf7-form input[type='checkbox']:not(:checked) + .wpcf7-list-item-label:before {
	left: auto;
	right: 0;
}

.wpcf7-form input[type='checkbox']:checked + .wpcf7-list-item-label:after,
.wpcf7-form input[type='checkbox']:not(:checked) + .wpcf7-list-item-label:after {
	left: auto;
	right: 4px;
}